
.cache
.idea
# Windows image file caches
Thumbs.db
ehthumbs.db
__pycache__
# Folder config file
Desktop.ini
dataset/coco8
dataset/coco8-pose
dataset/coco8-seg
fvisualize
*/fvisualize/*
model/*/*/fvisualize
dataset/depth8-png
model
dataset/detect
datas
tmp
log
dataset/dota8-multispectral
dataset/pose
dataset/seg
# Recycle Bin used on file shares
$RECYCLE.BIN/
*.tar.gz
debug_*
*.onnx
*cifar-10-batches-py
cifar-10-batches-py
cifar-10-python.tar.gz
model/*.pth
model/*.json
# auto-downloaded datasets (coco8 / depth8-png / dota8-multispectral ...) / 自动下载的数据集
dataset/
ultralytics
tmp
*.log
_smoke*
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
